name: Build APK

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        # الجافا 11 هي السر في نجاح مرحلة الـ APK Packaging
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip python3-pip autoconf libtool pkg-config zlib1g-dev \
          libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev lld \
          python3-dev libsqlite3-dev libbz2-dev libreadline-dev tk-dev libgdbm-dev \
          libdb5.3-dev libexpat1-dev liblzma-dev uuid-dev libgdbm-compat-dev
          pip3 install --user --upgrade "Cython<3.0.0" buildozer

      - name: Build with Buildozer
        run: |
          export PATH=$PATH:~/.local/bin
          # مسح أي ملفات مؤقتة قديمة تسبب تعارض
          rm -rf .buildozer/android/platform/build-arm64-v8a/dists/braingames
          yes | buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: BrainGames-Package
          path: bin/*.apk
